
<!DOCTYPE HTML>
<html>
	<head>
		<title>Ai Chat Bot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
		<script>
			window.watsonAssistantChatOptions = {
			  integrationID: "f7c863be-2737-48a5-a105-aa60dca7597e", // The ID of this integration.
			  region: "kr-seo", // The region your integration is hosted in.
			  serviceInstanceID: "4d5d9ef3-d64c-48e9-bd97-f14756c46928", // The ID of your service instance.
			  onLoad: function(instance) { instance.render(); }
			};
			setTimeout(function(){
			const t=document.createElement('script');
			t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
			document.head.appendChild(t);
			});
		</script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header-->
					<header id="header">
						<!--<a href="index.html" class="logo">Massively</a>-->
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/ai">Special Menu</a></li>
							<li class="active"><a href="upload">AI</a></li>
						</ul>
						<ul class="icons">
							<!--<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
							<li><a href="https://github.com/Sol-Studio" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>오른쪽 아래에 파란 버튼을 눌러주세요</h1>
								</header>
							</section>

					</div>



				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; sol-studio 2021</li><li>Design: HTML5 UP</li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>